In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('23dec_2020.csv')

In [3]:
dataset

   marks  name   college id  duration  time  before exam   caff  semester
0     40   jack           1         2                  10   100         1
1     50   eric           1         4                  20   200         2
2      5   abhi           1         2                   5   400         3
3     50   amit           1         2                  10    10         1
4     60  krish           1         4                  20   100         2

In [4]:
dataset.columns

Index(['marks', 'name ', 'college id', 'duration', 'time  before exam ',
       'caff', 'semester'],
      dtype='object')

In [5]:
dataset.corr()

,marks,college id,duration,time before exam,caff,semester
marks,1.000000,NaN,0.599145,0.803685,-0.842077,-0.616365
college id,NaN,NaN,NaN,NaN,NaN,NaN
duration,0.599145,NaN,1.000000,0.952579,-0.073488,0.218218
time before exam,0.803685,NaN,0.952579,1.000000,-0.357518,-0.089087
caff,-0.842077,NaN,-0.073488,-0.357518,1.000000,0.906061
semester,-0.616365,NaN,0.218218,-0.089087,0.906061,1.000000

In [ ]:
#eliminate name asit dosent depend on marks(y which we need to predict)

In [7]:
dataset.corr()

,marks,college id,duration,time before exam,caff,semester
marks,1.000000,NaN,0.599145,0.803685,-0.842077,-0.616365
college id,NaN,NaN,NaN,NaN,NaN,NaN
duration,0.599145,NaN,1.000000,0.952579,-0.073488,0.218218
time before exam,0.803685,NaN,0.952579,1.000000,-0.357518,-0.089087
caff,-0.842077,NaN,-0.073488,-0.357518,1.000000,0.906061
semester,-0.616365,NaN,0.218218,-0.089087,0.906061,1.000000

In [ ]:
#all features should be co-related to y(which we needto predcit) but not related to each other

In [8]:
y = dataset['marks']

In [9]:
y

0    40
1    50
2     5
3    50
4    60
Name: marks, dtype: int64

In [10]:
X = dataset[['college id', 'duration', 'time  before exam ',
       'caff', 'semester']]

In [11]:
X

   college id  duration  time  before exam   caff  semester
0           1         2                  10   100         1
1           1         4                  20   200         2
2           1         2                   5   400         3
3           1         2                  10    10         1
4           1         4                  20   100         2

In [12]:
from sklearn.linear_model import Lasso

In [13]:
from sklearn.feature_selection import SelectFromModel

In [23]:
mind = SelectFromModel(Lasso(alpha=0.01))

In [24]:
#tunning of model 
#using hyperparamter alpha=0.01
mind

SelectFromModel(estimator=Lasso(alpha=0.01))

In [25]:
mind.fit(X,y)

c:\python38\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.35786350770526865, tolerance: 0.182
  model = cd_fast.enet_coordinate_descent(

SelectFromModel(estimator=Lasso(alpha=0.01))

In [26]:
mind.get_support()

array([False,  True,  True,  True,  True])

In [27]:
X

   college id  duration  time  before exam   caff  semester
0           1         2                  10   100         1
1           1         4                  20   200         2
2           1         2                   5   400         3
3           1         2                  10    10         1
4           1         4                  20   100         2

In [28]:
X.columns

Index(['college id', 'duration', 'time  before exam ', 'caff', 'semester'], dtype='object')

In [30]:
X= X[['duration', 'time  before exam ', 'caff', 'semester']]

In [32]:
X

   duration  time  before exam   caff  semester
0         2                  10   100         1
1         4                  20   200         2
2         2                   5   400         3
3         2                  10    10         1
4         4                  20   100         2

In [33]:
y

0    40
1    50
2     5
3    50
4    60
Name: marks, dtype: int64

In [34]:
from sklearn.linear_model import LinearRegression

In [41]:
model= LinearRegression()

In [42]:
model.fit(X,y)

LinearRegression()

In [44]:
model.coef_

array([ 1.07298633,  1.57749346, -0.10497238,  2.05146845])

In [45]:
X

   duration  time  before exam   caff  semester
0         2                  10   100         1
1         4                  20   200         2
2         2                   5   400         3
3         2                  10    10         1
4         4                  20   100         2

In [47]:
model.predict([[3,20,100,1]])

array([57.124164])

In [48]:
model.predict([[2,10,100,1]])

array([40.27624309])